@use "tokens" as *;
@use "breakpoints" as *;

.badge {
  // noinspection CssNoGenericFontName : fallback managed by token
  font-family: font-family("base");

  display: inline-flex;
  align-items: center;
  padding: space("3xs") space("2xs");
  border-radius: space("2xs");

  font-size: font-size("body-s");
  font-weight: font-weight("semibold"); //var(--font-weight-semibold);
  line-height: line-height("body"); //var(--line-height-body);
  color: color("text-primary"); //var(--color-text-primary);
  white-space: nowrap;

  background-color: color("feedback-neutral-bg"); //var(--color-feedback-neutral-bg);

  &[data-variant="positive"] {
    background-color: color("feedback-positive-bg"); //var(--color-feedback-positive-bg);
  }

  &[data-variant="negative"] {
    background-color: color("feedback-negative-bg"); //var(--color-feedback-negative-bg);
  }

  @include mobile {
    padding-block: space("4xs");
  }
}