// Typography tokens
// global.scss turns them into CSS custom properties.

$font-family-base: Inter, sans-serif;

$font-size: (
        "body-m": 14px,
        "body-s": 12px,
);

$line-height: (
        "body": 1.5,
);

$font-weight: (
        "regular": 400,
        "semibold": 600,
        "bold": 700,
);